<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Un artista digital de bellas artes es un creador de imágenes y formas que utiliza herramientas y tecnología digital para producir obras de arte visuales. 
          Este artista es experto en el uso de software y hardware de diseño gráfico, y combina habilidades artísticas tradicionales con técnicas modernas para producir piezas únicas y sorprendentes.</p>
      </div>
      <div class="col-lg-4">
        <p> Desde la ilustración hasta la animación, el arte digital es un campo en constante evolución y este artista es un innovador que sigue experimentando y explorando nuevas posibilidades en su arte. </p>
      </div>
    </div>
  </div>
</section>
